{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block title %}Verb{% endblock %}
{% block head_js %}
<script type="text/javascript">
    $(document).ready(function(){
        function updateConjugations(tag, conjugation){
            if (conjugation != null) {
                tag.text(conjugation);
            } else {
                tag.text("verb is yet to be added");
            }
            
        }
       $("#tense-selection").change(function(e){
            e.preventDefault();
            var url = "{% url 'choose-tense' verb.id verb.infinitive %}";
            var data = $("#tense-selection").find(":selected").text();
            var tense = {"tense": data};
            $.ajax({
               url: url,
               method: "POST",
               dataType: "json",
               data: tense,
               success: function(data){
                   console.log(data);
                   updateConjugations($(".first-person-singular"), data.first_person_singular);
                   updateConjugations($(".second-person-singular"), data.second_person_singular);
                   updateConjugations($(".third-person-singular"), data.third_person_singular);
                   updateConjugations($(".first-person-plural"), data.first_person_plural);
                   updateConjugations($(".second-person-plural"), data.second_person_plural);
                   updateConjugations($(".third-person-plural"), data.third_person_plural);
               },
               error: function(xhr, status, errorThrown){
                   console.log(null);
               }
            });
       });
    });
    
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 hidden-lg text-center">
        <h1>{{ verb.infinitive }}</h1>
        <h3>{{ verb.meaning }}</h3>
        <h6>Tempi Verbali</h6>
        <select name="tense-selection" id="tense-selection" class="form-control ">
            {% for tense in tenses %}
            <option  value="{{ tense }}">{{ tense }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12 text center">
                <table>
                    <tr>
                        <th rowspan="2">Persona</th>
                        <th>Tempo Verbale</th>
                    </tr>
                    <tr>
                        <th>Presente</th>
                    </tr>
                    <tr>
                        <th>1st io</th>
                        <td class="first-person-singular">{{ conjugations.first_person_singular }}</td>
                    </tr>
                    <tr>
                        <th>2nd tu</th>
                        <td class="second-person-singular">{{ conjugations.second_person_singular }}</td>
                    </tr>
                    <tr>
                        <th>3rd lui/lei</th>
                        <td class="third-person-singular">{{ conjugations.third_person_singular }}</td>
                    </tr>
                    <tr>
                        <th>1st noi</th>
                        <td class="first-person-plural">{{ conjugations.first_person_plural }}</td>
                    </tr>
                    <tr>
                        <th>2nd voi</th>
                        <td class="second-person-plural">{{ conjugations.second_person_plural }}</td>
                    </tr>
                    <tr>
                        <th>3rd loro</th>
                        <td class="third-person-plural">{{ conjugations.third_person_plural }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center hidden-xs hidden-sm hidden-md">
        <table>
            <tr>
                <th rowspan="3">Tempi Verbali</th>
                <th colspan="6">Persona</th>
            </tr>
            <tr>
                <th colspan="3">singulare</th>
                <th colspan="3">plurale</th>
            </tr>
            <tr>
                <th>io</th>
                <th>tu</th>
                <th>lui/lei</th>
                <th>noi</th>
                <th>voi</th>
                <th>loro</th>
            </tr>
            <tr>
                <th>Presente</th>
                {% if conjugations_presente != None %}
                <td>{{ conjugations_presente.first_person_singular }}</td>
                <td>{{ conjugations_presente.second_person_singular }}</td>
                <td>{{ conjugations_presente.third_person_singular }}</td>
                <td>{{ conjugations_presente.first_person_plural }}</td>
                <td>{{ conjugations_presente.second_person_plural }}</td>
                <td>{{ conjugations_presente.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Passato Prossimo</th>
                {% if conjugations_passato_prossimo != None %}
                <td>{{ conjugations_passato_prossimo.first_person_singular }}</td>
                <td>{{ conjugations_passato_prossimo.second_person_singular }}</td>
                <td>{{ conjugations_passato_prossimo.third_person_singular }}</td>
                <td>{{ conjugations_passato_prossimo.first_person_plural }}</td>
                <td>{{ conjugations_passato_prossimo.second_person_plural }}</td>
                <td>{{ conjugations_passato_prossimo.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Imperfetto</th>
                {% if conjugations_imperfetto != None %}
                <td>{{ conjugations_imperfetto.first_person_singular }}</td>
                <td>{{ conjugations_imperfetto.second_person_singular }}</td>
                <td>{{ conjugations_imperfetto.third_person_singular }}</td>
                <td>{{ conjugations_imperfetto.first_person_plural }}</td>
                <td>{{ conjugations_imperfetto.second_person_plural }}</td>
                <td>{{ conjugations_imperfetto.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Trapassato Prossimo</th>
                {% if conjugations_trapassato_prossimo != None %}
                <td>{{ conjugations_trapassato_prossimo.first_person_singular }}</td>
                <td>{{ conjugations_trapassato_prossimo.second_person_singular }}</td>
                <td>{{ conjugations_trapassato_prossimo.third_person_singular }}</td>
                <td>{{ conjugations_trapassato_prossimo.first_person_plural }}</td>
                <td>{{ conjugations_trapassato_prossimo.second_person_plural }}</td>
                <td>{{ conjugations_trapassato_prossimo.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Futuro Semplice</th>
                {% if conjugations_futuro_semplice != None %}
                <td>{{ conjugations_futuro_semplice.first_person_singular }}</td>
                <td>{{ conjugations_futuro_semplice.second_person_singular }}</td>
                <td>{{ conjugations_futuro_semplice.third_person_singular }}</td>
                <td>{{ conjugations_futuro_semplice.first_person_plural }}</td>
                <td>{{ conjugations_futuro_semplice.second_person_plural }}</td>
                <td>{{ conjugations_futuro_semplice.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Futuro Anteriore</th>
                {% if conjugations_futuro_anteriore != None %}
                <td>{{ conjugations_futuro_anteriore.first_person_singular }}</td>
                <td>{{ conjugations_futuro_anteriore.second_person_singular }}</td>
                <td>{{ conjugations_futuro_anteriore.third_person_singular }}</td>
                <td>{{ conjugations_futuro_anteriore.first_person_plural }}</td>
                <td>{{ conjugations_futuro_anteriore.second_person_plural }}</td>
                <td>{{ conjugations_futuro_anteriore.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Congiuntivo Presente</th>
                {% if conjugations_congiuntivo_presente != None %}
                <td>{{ conjugations_congiuntivo_presente.first_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_presente.second_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_presente.third_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_presente.first_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_presente.second_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_presente.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Congiuntivo Passato</th>
                {% if conjugations_congiuntivo_passato != None %}
                <td>{{ conjugations_congiuntivo_passato.first_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_passato.second_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_passato.third_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_passato.first_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_passato.second_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_passato.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Congiuntivo Imperfetto</th>
                {% if conjugations_congiuntivo_imperfetto != None %}
                <td>{{ conjugations_congiuntivo_imperfetto.first_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_imperfetto.second_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_imperfetto.third_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_imperfetto.first_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_imperfetto.second_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_imperfetto.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Congiuntivo Trapassato</th>
                {% if conjugations_congiuntivo_trapassato != None %}
                <td>{{ conjugations_congiuntivo_trapassato.first_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_trapassato.second_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_trapassato.third_person_singular }}</td>
                <td>{{ conjugations_congiuntivo_trapassato.first_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_trapassato.second_person_plural }}</td>
                <td>{{ conjugations_congiuntivo_trapassato.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Condizionale Presente</th>
                {% if conjugations_condizionale_presente != None %}
                <td>{{ conjugations_condizionale_presente.first_person_singular }}</td>
                <td>{{ conjugations_condizionale_presente.second_person_singular }}</td>
                <td>{{ conjugations_condizionale_presente.third_person_singular }}</td>
                <td>{{ conjugations_condizionale_presente.first_person_plural }}</td>
                <td>{{ conjugations_condizionale_presente.second_person_plural }}</td>
                <td>{{ conjugations_condizionale_presente.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            <tr>
                <th>Condizionale Passato</th>
                {% if conjugations_condizionale_passato != None %}
                <td>{{ conjugations_condizionale_passato.first_person_singular }}</td>
                <td>{{ conjugations_condizionale_passato.second_person_singular }}</td>
                <td>{{ conjugations_condizionale_passato.third_person_singular }}</td>
                <td>{{ conjugations_condizionale_passato.first_person_plural }}</td>
                <td>{{ conjugations_condizionale_passato.second_person_plural }}</td>
                <td>{{ conjugations_condizionale_passato.third_person_plural }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
            </tr>
            
            
            
        </table>
    </div>
</div>
{% endblock %}